{% extends "djangoapp/index.html" %}

{% block content %}
<div class="container mt-3">
    <div class="col-lg-12">
        <table class="table" id="table" data-filter-control="true">
            <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="Dealer Name">Dealer Name</th>
                    <th data-field="City">City</th>
                    <th data-field="Address">Address</th>
                    <th data-field="Zip">Zip</th>
                    <th data-field="state" data-filter-control="select">State</th>
                </tr>
            </thead>
            <tbody>
                {% for dealer in dealers %}
                    <tr>
                        <td>{{dealer.id}}</td>
                        <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                        <td>{{dealer.city}}</td>
                        <td>{{dealer.address}}</td>
                        <td>{{dealer.zip}}</td>
                        <td>{{dealer.st}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function() {
      $('#table').bootstrapTable()
    })
  </script>
{% endblock %}

